<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP PYTHON</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">

</head>
<body>

    <main class="main">
        <div class="title-container">
            <h1 class="title">Hola! Esta es una aplicación de cotización</h1>
            <a href="/users">Conseguir todos los usuarios</a>
        </div>
        <section class="add-user">
            <h2>Agregar Usuario</h2>
            <form action="users/add" id="addUserForm" method="POST">
                <input type="text" id="name" name="name" placeholder="Nombre" required>
                <input type="text" id="surname" name="surname" placeholder="Apellido" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="text" id="phone" name="phone" placeholder="Número de teléfono" required>
                <input type="submit">
            </form>
        </section>

    </main>

    
    
</body>
</html>