{%extends "layout.html"%}

{% block content %}

<a class="btn"href="/admin/compatibility/all">Atrás</a>

<div class="productsContainer">
    <table id="productsTable">
    <tr class="firstColumn"><td>ID</td><td>FabricanteRepuesto</td><td>Repuesto</td><td>Modelo</td><td>Año</td><td>Eliminar</td><td>Modificar</td></tr>
    {% for item in items -%}
    <tr><td>{{item[0]}}</td><td>{{item[1]}}</td><td>{{item[2]}}</td><td>{{item[3]}}</td><td>{{item[4]}}</td><td><a href="?id={{item[0]}}&method=delete">x</a></td><td><a href="?id={{item[0]}}&method=update">o</a></td></tr>
    {% endfor %}
    </table>
</div>


{% endblock %}